<html>
    <head>
        <title>CRUD Application</title>
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename= 'teacher.png')}}">
    </head>
    <body>
        <div class="container">
            <div class="well text-center">
                <h1>Python Flask CRUD Web Application Development</h1>
            </div>
            <div class="well">
                <h3>Website:www.saadullahdar.online <span class="pull-right">Follow Us:https://www.instagram.com/saadullah_dar/</span></h3>
            </div>
        </div>
    </body>
</html>