<html>
    <head>
        <title>CRUD Application</title>
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename= 'teacher.png')}}">
    </head>
    <body>
{% block body %}
        <div class="container">
            <div class="well text-center">
                <h1>Python Flask CRUD Web Application Development</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col md-12">
                        <h2>Student List 
                            <button type="button" class="btn btn-success pull-right" data-toggle = "modal" data-target="#mymodal">
                                Add Student Data
                            </button>
                        </h2>
                        <table class="table table-striped">
                            <tr>
                                <th>Serial</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>

                            <tr>
                                <td>01</td>
                                <td>saadullah dar</td>
                                <td>saadullahdar@gmail.com</td>
                                <td>03086627723</td>
                                <td>
                                    <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                                    <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to Delete?')">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="modaledit" class="modal fade" role="dialog">

                    <div class="model-dialog">
                    
                        <div class="model-content">
                    
                            <div class="modal-header">
                    
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                                <h4 class="modal-title">Plase update Data</h4>
                    
                            </div>
                    
                            <div class="modal-body">
                    
                                <form action="" method="POST">
                    
                                    <div class="form-group">
                    
                                        <label for="name">Name:</label>
                    
                                        <input type="text" class="form-control" name="name" value="saadullah">
                    
                                    </div>
                    
                                    <div class="form-group">
                    
                                        <label for="email">Email:</label>
                    
                                        <input type="text" class="form-control" name="email" value="saad@gamil.com">
                    
                                    </div>
                    
                                    <div class="form-group">
                    
                                        <label for="phone">Phone:</label>
                    
                                        <input type="text" class="form-control" name="phone" value="012345678">
                    
                                    </div>
                    
                                    <div class="form-group">
                    
                                        <button class="btn btn-primary" type="submit">Update Data</button>
                    
                                    </div>
                    
                                </form>
                    
                            </div>
                    
                            <div class="modal-footer">
                    
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                            </div>
                    
                        </div>
                    
                    </div>
                
                </div>

                <div id="mymodal" class="modal fade" role="dialog">

                    <div class="model-dialog">
                    
                        <div class="model-content">
                    
                            <div class="modal-header">
                    
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                                <h4 class="modal-title">Plase insert Data</h4>
                    
                            </div>
                    
                            <div class="modal-body">
                    
                                <form action="{{url_for('insert')}}" method="POST">
                    
                                    <div class="form-group">
                    
                                        <label for="name">Name:</label>
                    
                                        <input type="text" class="form-control" name="name" required="1">
                    
                                    </div>
                    
                                    <div class="form-group">
                    
                                        <label for="email">Email:</label>
                    
                                        <input type="text" class="form-control" name="email" required="1">
                    
                                    </div>
                    
                                    <div class="form-group">
                    
                                        <label for="phone">Phone:</label>
                    
                                        <input type="text" class="form-control" name="phone" required="1">
                    
                                    </div>
                    
                                    <div class="form-group">
                    
                                        <button class="btn btn-primary" type="submit">Insert Data</button>
                    
                                    </div>
                    
                                </form>
                    
                            </div>
                    
                            <div class="modal-footer">
                    
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                            </div>
                    
                        </div>
                    
                    </div>
                
                </div>
                
            </div>
{% endblock %}
            <div class="well">
                <h3>Website:www.saadullahdar.online <span class="pull-right">Follow Us:https://www.instagram.com/saadullah_dar/</span></h3>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>