<html>
    <head>
        <title>CRUD Application</title>
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap.min.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename= 'teacher.png')}}">
    </head>
    <body>
        <div class="container">
            <div class="well text-center">
                <h1>Python Flask CRUD Web Application Development</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col md-12">
                        <h2>Student List 
                            <button type="button" class="btn btn-success pull-right" data-toggle = "modal" data-target="#mymodal">
                                Add Student Data
                            </button>
                        </h2>
                        <table class="table table-striped">
                            <tr>
                                <th>Serial</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>

                            <tr>
                                <td>01</td>
                                <td>saadullah dar</td>
                                <td>saadullahdar@gmail.com</td>
                                <td>03086627723</td>
                                <td>
                                    <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="modaledit">Edit</a>
                                    <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to Delete?')">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="well">
                <h3>Website:www.saadullahdar.online <span class="pull-right">Follow Us:https://www.instagram.com/saadullah_dar/</span></h3>
            </div>
        </div>
    </body>
</html>